<td class='code required'>{{name}}</td>
<!-- OutSystems change: removed value column -->
<td>
	<strong><span class="markdown">{{{description}}}</span></strong>
</td>
<td>{{{paramType}}}</td>
<td><span class="model-signature"></span></td>
