<!-- OutSystems change: Removed Model and Model Schema labels -->
<div class="signature-container">
	<!-- OutSystems change: Removed Model -->
  <div class="snippet">
    <pre><code>{{sampleJSON}}</code></pre>
    <small class="notice"></small>
  </div>
</div>

