<!--Outsystems change: included content type in response messages-->
<td class='code'>{{code}}</td>
<td><strong>{{{message}}}</strong></td>
<td class='content-type'></td>
<td><span class="model-signature" /></td>
